body {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    
}
footer {
    padding: 10px 0 !important;
    text-align: center; 
}
.centered-table th,
.centered-table td {
    text-align: center;
    vertical-align: middle;
}
